.head
  = step(@runseq.form_step, @xvars['total_form_steps'])
- if File.exists?(@f_help)
  %span(style='float:right;padding-right: 20px;')
    = link_to "วิธีกรอกแบบ", {:controller=>"engine", :action=>"help", :f=>@f_help}, :target=>"_blank"
    &nbsp;
/= stylesheet_link_tag 'jquery.autocomplete'
%script
  function validate() { return true; }
/= javascript_include_tag "jquery.ui.core"
/= javascript_include_tag "jquery.ui.widget"
/= javascript_include_tag "jquery.ui.position"
/= javascript_include_tag "jquery.ui.autocomplete"
/= javascript_include_tag "disable_enter_key"
/= stylesheet_link_tag "jquery.ui","jquery.ui.autocomplete"
%p
- user = current_user || User.new
- form_class = 'formtastic'
- next_step = 'end_form'
= form_tag({ :action => next_step } , {:multipart => true, :onSubmit=>'return validate()', :class=>form_class, "data-ajax"=>"#{ajax?(@ui)}"}) do
  = hidden_field_tag 'xmain_id', @xmain.id
  = hidden_field_tag 'ajax', ajax?(@ui)
  = hidden_field_tag 'runseq_id', @runseq.id
  = hidden_field_tag 'step', @xvars[:current_step]
  %div(data-role="fieldcontain")
    = render :inline=> @ui
  %p
  = submit_tag NEXT
%p
:javascript
  $(function() {
    //$('td input')[3].focus();
    $('.required').append('<span style="color:red"> *</span>');
    $('.refresh').append(" <img src='/images/refresh.png'/>");
    // disable enter key
    $("input").keypress(function (evt) {
      //Deterime where our character code is coming from within the event
      var charCode = evt.charCode || evt.keyCode;
      if (charCode  == 13) { //Enter key's keycode
        alert("กรุณาใช้เม้าส์คลิ้กที่ปุ่มเพื่อดำเนินการต่อ");
        return false;
      }
    });
  });
  $( document ).bind( "pagechange", function(){
    $('input[type="file"]').textinput({theme: 'c'});
  });

- if GMAP
  :javascript
    init_map();
    $( document ).one( "pagechange", function(){
      init_map();
    });
